---
import {
  FaDiscord,
  FaEnvelope,
  FaFacebook,
  FaGithub,
  FaLink,
  FaLinkedin,
  FaTwitter
} from 'react-icons/fa';
import { Container, Stack } from 'styled-system/jsx';
import { LinkItem } from '~/components/common/LinkItem';
import { InteractiveNamecard } from '~/components/namecard/InteractiveNamecard';
import { Heading } from '~/components/ui/heading';
import { NAMECARDS } from '~/constants/namecard';
import { localePaths } from '~/i18n/paths';
import { useTranslations } from '~/i18n/utils';
import MainLayout from '~/layouts/MainLayout.astro';

//TODO:
export function getStaticPaths() {
  return localePaths;
}

const { locale } = Astro.params;
const t = useTranslations(locale);

const items = [
  {
    label: t('contact.email'),
    value: 'hamzaabamboo@gmail.com',
    url: 'mailto:hamzaabamboo@gmail.com',
    icon: FaEnvelope
  },
  {
    label: t('contact.twitter'),
    value: '@HamP_punipuni',
    url: 'https://twitter.com/HamP_punipuni',
    icon: FaTwitter
  },
  {
    label: t('contact.github'),
    value: 'hamzaabamboo',
    url: 'https://github.com/hamzaabamboo',
    icon: FaGithub
  },
  {
    label: t('contact.linkedin'),
    value: 'tvittayapalotai',
    url: 'https://www.linkedin.com/in/tvittayapalotai/',
    icon: FaLinkedin
  },
  {
    label: t('contact.facebook'),
    value: 'hamPpunipuni',
    url: 'https://www.facebook.com/hamPpunipuni',
    icon: FaFacebook
  },
  {
    label: 'Discord',
    value: 'hamp',
    url: 'https://discordapp.com/users/260776161032798208',
    icon: FaDiscord
  },
  {
    label: 'Eventernote',
    value: 'HamP_punipuni',
    url: 'https://www.eventernote.com/users/HamP_punipuni',
    icon: FaLink
  }
];
---

<MainLayout>
  <Container>
    <Stack w="full" gap="4" p="4">
      <Heading as="h1" size="2xl" fontWeight="bold">{t('common.contact')}</Heading>
      <Stack>
        {
          items.map(({ icon, label, value, url }) => {
            return (
              <LinkItem
                data={{
                  title: label,
                  url: url
                }}
                Icon={icon}
                linkText={value}
              />
            );
          })
        }
      </Stack>
      <a href={`/${locale}/namecard`}>
        <InteractiveNamecard data={NAMECARDS[0]} />
      </a>
    </Stack>
  </Container></MainLayout
>
