---
import { css } from 'styled-system/css';

import MainLayout from '~/layouts/MainLayout.astro';

export async function getStaticPaths() {
  return [{ params: { locale: 'en' } }, { params: { locale: 'ja' } }];
}

const param = Astro.params;
---

<MainLayout>
  <h1 class={css({ fontSize: '3xl', fontWeight: 'bold' })}>Hello {param.locale}</h1>
</MainLayout>
