---
import { css } from 'styled-system/css';

import BaseLayout from "../../layouts/BaseLayout.astro";

export async function getStaticPaths() {
  return [{ params: { lang: 'en' } }, { params: { lang: 'ja' } }];
}
---

<BaseLayout>
  <h1 class={css({ fontSize: '3xl', fontWeight: 'bold' })}>Astro</h1>
</BaseLayout>
