---
import { getLangFromUrl } from '../i18n/utils';
import '../index.css';

const lang = getLangFromUrl(Astro.url);
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap"
      rel="stylesheet"
    />
    <title>Ham's Web</title>
    <slot name="head" />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  @media print {
    astro-dev-toolbar {
      display: none !important;
    }
  }
</style>
