---
import { getLangFromUrl } from '../i18n/utils';
import '../index.css';

const lang = getLangFromUrl(Astro.url);
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Ham's Web</title>
    <slot name="head" />
  </head>
  <body>
    <slot />
  </body>
</html>
